{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="form-wrapper">
    <div class="container">
        <form action="{% url "user:login" %}" class="form form_big" method="post">
            {% csrf_token %}

            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}

            <section class="form__item">
                <label class="form__label" for="id_username">
                    <span class="form__text">Имя пользователя:</span>
                </label>
                <input type="text" name="username" class="form__input" id="id_username" required>
            </section>

            <section class="form__item">
                <label class="form__label" for="id_password">
                    <span class="form__text">Пароль:</span>
                </label>
                <input type="password" name="password" class="form__input" id="id_password" required>
            </section>

            {% if form.errors %}
            <section class="form__item form__item_errors">

                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </section>
                
            {% endif %}

            <button type="submit" class="btn form__submit">Войти</button>
            <hr>
            
            <div class="need-register">
                <p class="need-register__text">Ещё нет аккаунта?
                    <a href="{% url "user:registration" %}" class="need-register__link">Зарегистрироваться</a>
                </p>
            </div>
        </form>
    </div>
</section>
{% endblock  %}